body{
    margin: 0;
}

#intro {
    display: flex;
    flex-direction: column;
}

#cover{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/Chadwick.jpg);
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(45%) saturate(50%) contrast(115%) opacity(0.9);
}

#name {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name-inner {
    border: white;
    border-style: solid;
    border-width: 7px;
    padding: 10px 50px;
}

#name-inner:hover {
    animation: BorderAnimation 0.4s linear forwards;
}


@keyframes BorderAnimation {
    0% {
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    25% {
       border-top-color: rgb(65, 62, 62);
       border-left-color: transparent;
       border-right-color: transparent;
       border-bottom-color: transparent;

    }
    50% {
        border-top-color:rgb(65, 62, 62);
        border-left-color: transparent;
        border-right-color:rgb(65, 62, 62);
        border-bottom-color: transparent;
 
     }
     75% {
        border-top-color:rgb(65, 62, 62);
        border-left-color: transparent;
        border-right-color:rgb(65, 62, 62);
        border-bottom-color:rgb(65, 62, 62);
 
     }
 
    100% {
        border-top-color:rgb(65, 62, 62);
        border-left-color:rgb(65, 62, 62);
        border-right-color:rgb(65, 62, 62);
        border-bottom-color:rgb(65, 62, 62);
 
    }
}

#name h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    font-family: sans-serif;
}

#description {
    width: 100vw;
    height: 50%;
    color: white;
    background-color: rgb(39, 39, 39);
    text-align: center;
    
}

#awards{
    color: white;
    background-color: rgb(39, 39, 39);
    height: auto;
    width: 100vw;
}

footer {
    background-color: lightblue;
    height: 50px;
    width: 100vw;
}

video {
    width: 500px;
}