
/*****
skeleton
******/

#timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    padding: 60px 0px 20px 0px;
    justify-content: center;
    background-color: white;
}

.vl {
    border-left: 1px solid gray;
    height: 150px;
    margin: 10px auto;
}

#timeline p {
    position: absolute;
}

/*****
right box
******/

.circle-right {
    height: 15px;
    width: 15px;
    position: relative;
    background-color: gray;
    border-radius: 50%;
    margin: 0px auto;

}

.circle-right::after {
    content: "";
    box-shadow: 10px 20px 5px 2px lightgray;
    color: white;
    padding: 10px;
    height: 140px;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(65, 62, 62);
    position: relative;
    left: 45px;
    bottom: 80px;
    display: block;
}

.circle-right::before {
    content: "";
    height: 40px;
    width: 40px;
    background-color: rgb(65, 62, 62);
    position: relative;
    display: block;
    transform: rotate(45deg) scale(0.8);
    bottom: 12.5px;
    left:25px
}


/*****
left box
******/


.circle-left {
    height: 15px;
    width: 15px;
    background-color: gray;
    border-radius: 50%;
    margin: 0px auto;
    position: relative;

}

.circle-left::after {
    content: "";
    color: white;
    border-radius: 10px;
    box-shadow: -10px 20px 5px 2px lightgray;
    padding: 10px;
    height: 140px;
    width: 400px;
    background-color: rgb(65, 62, 62);
    position: relative;
    right: 448px;
    bottom: 80px;
    display: block;
}

.circle-left::before {
    content: "";
    height: 40px;
    width: 40px;
    background-color: rgb(65, 62, 62);
    position: relative;
    display: block;
    transform: rotate(45deg) scale(0.8);
    bottom: 12.5px;
    right:50px
}


/******
movie description
******/

.circle-right .text-right {

    width: 392px;
    position: absolute;
    top: -10px;
    left: 60px;
    color: white;
    z-index: 1;
}

.circle-right .title-right {
    width: 392px;
    position: absolute;
    top: -50px;
    left: 60px;
    color: white;
    z-index: 1;
}


.circle-left .text-left {
    width: 392px;
    
    position: absolute;
    top: -10px;
    left: -432px;
    color: white;
    z-index: 1;
}

.circle-left .title-left {
    width: 392px;
    position: absolute;
    top: -50px;
    left: -432px;
    color: white;
    z-index: 1;
}




