body{
    margin: 0;
    padding: 0;
    font-family: 'Dosis';
    overflow-x: hidden;
}

/**********
    cover 
***********/

#intro {
    display: flex;
    flex-direction: column;
}

#cover{
    max-width: 100%;
    height: 100vh;
    background-image: url(../images/Chadwick.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(45%) saturate(50%) contrast(115%) opacity(0.9);
}

#name {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name-inner {
    border: white;
    border-style: solid;
    border-width: 7px;
    padding: 10px 50px;
}

#name-inner:hover {
    animation: BorderAnimation 0.4s linear forwards;
}


@keyframes BorderAnimation {
    0% {
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    25% {
       border-top-color: rgb(65, 62, 62);
       border-left-color: transparent;
       border-right-color: transparent;
       border-bottom-color: transparent;

    }
    50% {
        border-top-color:rgb(65, 62, 62);
        border-left-color: transparent;
        border-right-color:rgb(65, 62, 62);
        border-bottom-color: transparent;
 
     }
     75% {
        border-top-color:rgb(65, 62, 62);
        border-left-color: transparent;
        border-right-color:rgb(65, 62, 62);
        border-bottom-color:rgb(65, 62, 62);
 
     }
 
    100% {
        border-top-color:rgb(65, 62, 62);
        border-left-color:rgb(65, 62, 62);
        border-right-color:rgb(65, 62, 62);
        border-bottom-color:rgb(65, 62, 62);
 
    }
}

#name h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
}


/**********
description 
***********/

#description {
    width: 100%;
    height: 50%;
    color: white;
    background-color: rgb(39, 39, 39);
    text-align: center;
    
}


/**********
  Carousel
***********/

#slider {
    overflow: hidden;
    margin: 20px 10px 20px 10px;
    height: 755px;
}

#slider figure {
    background-color: white;
    position: relative;
    width: 400%;
    animation: 30s slider infinite;
    margin: 0;
}


#slider figure img:hover{
    animation: 0.5s enlarge forwards;
}


@keyframes enlarge {
   
    0%{
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}


#slider figure img {
    float: left;
    width: 7.529683%;
    padding: 0px 30px;
  
}

@keyframes slider {
    0% {
        left: 0;
    }

    7.5% {
        left: 0;
    }
    15% {
        left: -33.333333%;
    }

    20% {
        left: -33.333333%;
    }

    25% {
        left: -66.366666%;
    }

    30% {
        left: -66.366666%;
    }

    35% {
        left: -100%;
    }

    40% {
        left: -100%;
    }

    45% {
        left: -133.133333%;
    }

    50% {
        left: -133.133333%;
    }

    55% {
        left: -166.366666%;
    }

    60% {
        left: -166.366666%;
    }

    65% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -233.133333%;
    }

    80% {
        left: -233.133333%;
    }

    85% {
        left: -266.366666%;
    }

    90% {
        left: -266.366666%;
    }

    95% {
        left: -299.6%;
    }

    100% {
        left: -299.6%;
    }

}

/**********
awards section
***********/

#awards {
    color: white;
    background: linear-gradient(135deg, black, rgb(39, 39, 39), rgb(109, 105, 105));
    display: grid;
    font-size: 30px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90px auto auto auto auto;
    justify-items: start;
    align-items: start;
    grid-gap: 80px;
    padding-bottom: 80px;
}

#awards .heading {
    grid-column: 1/3;
    justify-self: center;
    position: relative;
    right: 50px;
}

.title {
    position: relative;
    left: 55%;
}

.award {
    position: relative;
    left: 22.5%;
}

.trophy {
    position: absolute;
    left: -100px;
    bottom: -25px;
}

footer {
    margin: 0;
    background-color: rgb(15, 15, 15);
    height: 50px;
    width: 100%;
}

