body{
    margin: 0;
    padding: 0;
    font-family: 'Dosis';
    overflow-x: hidden;
}

/**********
  nav button
***********/


nav{
    align-self: end;
    position: absolute;
    margin: 20px 50px;
}

nav a {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav a::after{
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -5px;
    transition: 0.3s;

}

nav a:hover::after {
    width: 100%;
}

/**********
    cover 
***********/

#intro {
    display: flex;
    flex-direction: column;
}

#cover{
    max-width: 100%;
    height: 100vh;
    background-image: url(../images/Chadwick.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(45%) saturate(50%) contrast(115%) opacity(0.9);
}

#name {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#name h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}


#name h1::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 7.5px;
    width: 0;
    left: 30.85%;
    bottom: 43%;
    transition: 0.3s;
}

#name h1:hover:after {
    width: 38.5%;
}




/**********
description 
***********/

#description {
    
    height: auto;
    color: black;
    background-color: lightgray;
    text-align: justify;
    padding: 40px 200px;
    font-size: 20px;
    
}


/**********
  Carousel
***********/

#slider {
    overflow: hidden;
    margin: 20px 10px 20px 10px;
    height: 755px;
}

#slider figure {
    background-color: white;
    position: relative;
    width: 400%;
    animation: 30s slider infinite;
    margin: 0;
}


#slider figure img:hover{
    animation: 0.5s enlarge forwards;
}


@keyframes enlarge {
   
    0%{
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}


#slider figure img {
    float: left;
    width: 7.529683%;
    padding: 0px 30px;
  
}

@keyframes slider {
    0% {
        left: 0;
    }

    2.5% {
        left: 0;
    }
    8.5% {
        left: -33.333333%;
    }

    13.5% {
        left: -33.333333%;
    }

    19.5% {
        left: -66.366666%;
    }

    24.5% {
        left: -66.366666%;
    }

    30.5% {
        left: -100%;
    }

    35.5% {
        left: -100%;
    }

    41.5% {
        left: -133.133333%;
    }

    46.5% {
        left: -133.133333%;
    }

    52.5% {
        left: -166.366666%;
    }

    57.5% {
        left: -166.366666%;
    }

    63.5% {
        left: -200%;
    }

    69.5% {
        left: -200%;
    }

    75.5% {
        left: -233.133333%;
    }

    80.5% {
        left: -233.133333%;
    }

    86.5% {
        left: -266.366666%;
    }

    91.5% {
        left: -266.366666%;
    }

    97.5% {
        left: -299.68%;
    }

    100% {
        left: -299.68%;
    }

}

/**********
awards section
***********/

#awards {
    color: white;
    background: linear-gradient(135deg, black, rgb(39, 39, 39), rgb(109, 105, 105));
    display: grid;
    font-size: 30px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90px auto auto auto auto;
    justify-items: start;
    align-items: start;
    grid-gap: 80px;
    padding-bottom: 80px;
}

#awards .heading {
    grid-column: 1/3;
    justify-self: center;
    position: relative;
    right: 50px;
}

.title {
    position: relative;
    left: 55%;
}

.award {
    position: relative;
    left: 22.5%;
}

.trophy {
    position: absolute;
    left: -100px;
    bottom: -25px;
}

footer {
    margin: 0;
    background-color: rgb(15, 15, 15);
    height: 50px;
    width: 100%;
}

